CielPostal/CielPostal.Module/Service References/Gimba/estoque.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Atualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Itens" type="tns:ArrayOfItemEstoque" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItemEstoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemEstoque" nillable="true" type="tns:ItemEstoque" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemEstoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MensagemRetorno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AtualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AtualizarResult" type="tns:ArrayOfItemEstoque" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AtualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Atualizar" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="EstoqueSoap">
    <wsdl:operation name="Atualizar">
      <wsdl:input message="tns:AtualizarSoapIn" />
      <wsdl:output message="tns:AtualizarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EstoqueSoap" type="tns:EstoqueSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Atualizar">
      <soap:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EstoqueSoap12" type="tns:EstoqueSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Atualizar">
      <soap12:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Estoque">
    <wsdl:port name="EstoqueSoap" binding="tns:EstoqueSoap">
      <soap:address location="http://webserviceseton.gimba.com.br/estoque.asmx" />
    </wsdl:port>
    <wsdl:port name="EstoqueSoap12" binding="tns:EstoqueSoap12">
      <soap12:address location="http://webserviceseton.gimba.com.br/estoque.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>